* {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}

#instructions {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.player-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
}

.gameboards-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
    
}

.controls {
   text-align: center;
}

.gameboards {
    display: flex;
}

.gameboard-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2rem;
}

p {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#ship-options1,
#ship-options2 {
    border: 5px solid purple;
    margin-top: 2rem;
    height: 10rem;
    padding-top: 1rem;
}

#player1-gameboard {
    height: 500px;
    width: 500px;
    border: 5px solid green;
    margin-right: 1rem;
    
}

#player2-gameboard {
    height: 500px;
    width: 500px;
    border: 5px solid blue;
    margin-left: 1rem;
}

#reset-game {
    display: flex;
    margin-top: 1rem;
   justify-content: center;
}

#player1-gameboard,
#player2-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    z-index: 0;
}

.row,
.column {
    border: 1px solid black;
}

.ship-element {
   z-index: 0;
}

.ship-hover-marker {
    background-color: aquamarine;
}